html {
    width: 100%;height: 100%;
}

body {
    font-size: 16px;
    width: 100%;height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    overflow: hidden;
    position: relative;

    font-family:'Open Sans',sans-serif;
}

.left {float: left;}
.right {float: right;}

h1 {
    font-size: 18px;
    padding: 20 0 0 0;
    margin: 0px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.appLoader {
    width: 100%;
    height: 100%;
    background: url(../media/splash/apploader.gif) no-repeat center center;
}

.header {
    -webkit-background-size: 1px 44px;
    -moz-background-size: 1px 44px;
    -ms-background-size: 1px 44px;
    -o-background-size: 1px 44px;
    background-size: 1px 44px;
    
    height: 54px;
    line-height: 54px;
    width: 100%;
    color: #fff;
    z-index: 5000;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    padding: 0px;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.header .navbar {
    background-color: #1D87E5;
    border: 0px;
    border-bottom: 4px solid #77F363;
    color: white;
    height: 54px !important;
}
.header .navbar .navbar-brand {
	background: transparent url(../media/logos/logox60.png) no-repeat center center;
	padding-left: 60px;
	padding-top: 35px;
	background-position-y: 0px;
	background-size: 59px;
	float: left;
}
.navbar-inverse .navbar-toggle {
    border:0px;
}
.header h1 {
    background: transparent url(../media/logos/logox60.png) no-repeat center center;
    padding-left: 190px;
    padding-top: 35px;
    background-position-y: 5px;
    height: 100%;
    
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.header-button {
    position: absolute;
    top: 6;
    padding: 7px 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1em;
}

.header-button-left {
    left: 4;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {background: transparent;}

.cbp-spmenu {z-index: 99999;}

.cbp-spmenu .avatarBox {
    width: 100%;height: 180px;
    overflow: hidden;
    text-align: center;
    background: white;
}
.cbp-spmenu .avatarBox img {
    max-width: 100%;
    min-height: 100%;
}
.cbp-spmenu .avatarBox .infoText {
    position: absolute;
    right: 10px;
    top: 0px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.cbp-spmenu .avatarBox .infoText citie {
    display: block;
    font-weight: normal;
    font-size: 0.8em;
}

.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0;padding-bottom: 50px;
    overflow-y: auto;overflow-x: hidden !important;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background: #1D87E5;
    border: 0px;
    color: white;
    height: 35px;
    z-index: 5000;
    opacity: 1;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    #footer .footMenu {
        list-style: none;
        width: 100%;height: 100%;
        margin: 0px;padding: 0px;
        overflow: hidden;
    }
    #footer .footMenu>li {
        float: left;width: 50%;height: 100%;
        text-align: center;
        border-right: 1px solid #77F363;
        font-weight: bold;
        font-size: 1em;
        line-height: 200%;
    }
    #footer .footMenu>li .glyphicon {
        font-size: 0.8em;
        margin-right: 2px;
    }
    #footer .footMenu>li .glyphicon.glyphicon-picture {
        font-size: 1em;
    }
    #footer .footMenu>li:last-child {
        border-right: 0px;
    }

    #mainContainer {
        padding: 0px;padding-top:55px;width: 100%;overflow-x: hidden;
    }

    .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        vertical-align:middle;
    }

    /*  container-gallery */
    .container-gallery .post-container {
        position: relative;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0 0 20px;
        overflow: hidden;
        -webkit-box-shadow: 0 0 1px 1px #ddd;
        -moz-box-shadow: 0 0 1px 1px #ddd;
        -ms-box-shadow: 0 0 1px 1px #ddd;
        -o-box-shadow: 0 0 1px 1px #ddd;
        box-shadow: 0 0 1px 1px #ddd;
        font-family: 'Open Sans',sans-serif;
    }

    .container-gallery .post-option {
        padding: 0px;
        margin-bottom: 1px;
        background-color: #23B498;
        border-top: 2px solid #FFF;
        border-radius: 5px;

        /*background-color: rgba(0,0,0,0.8);*/

        /*position: absolute;
        left: 0;
        top: 0;
        width: 100%;*/
        /*padding: 15px;padding-bottom: 7px;
        margin-bottom: 2px;
        background-color: rgba(255,255,255,.95);*/
        

        /*-webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        -ms-border-radius: 2px 2px 0 0;
        -o-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);*/
    }

    .container-gallery .post-option .list-options {
        width: 100%;
        display: table;
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .container-gallery .post-option .list-options>li {
        display: table-cell;
        width: 25%;
        border-right: 1px solid #FFF;
        padding-bottom: 7px;
    }
    .container-gallery .post-option .list-options>li>a,
        .container-gallery .post-option .btn-group a {
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        color: #FFF;
        padding-top: 7px;
    }

    .container-gallery .post-option .list-options>li>a span,
        .container-gallery .post-option .btn-group a span {
        padding: 3px 0;
        text-align: center;
        font-size: 9px;
        line-height: 9px;
        font-weight: 400;
        text-transform: uppercase;
        display: none;
    }
    .container-gallery .post-option .list-options span.counts,
        .container-gallery .post-option .btn-group span.counts {
        display: inline-block;
        float: right;
        font-size: 12px;
        margin-left: 5px;
    }
    .container-gallery .post-option .list-options span.counts:before,
        .container-gallery .post-option .btn-group span.counts:before {
        content: "(";
    }
    .container-gallery .post-option .list-options span.counts:after,
        .container-gallery .post-option .btn-group span.counts:after {
        content: ")";
    }
    .container-gallery .post-image {
        background-color: #fff;
        padding: 0px;
    }

    .container-gallery .post-meta {
        padding: 7px;
        background-color: #fff;
        margin-top: -2px;
        margin-bottom: 0px;
        display: none;
    }

    .container-gallery .post-meta .list-meta, .container-gallery .post-meta .list-meta>li {
        font-size: 12px;
        line-height: 14px;
    }

    .container-gallery .post-desc {
        border-top: 1px solid #ddd;
        padding: 10px;padding-top: 5px;padding-bottom: 5px;
        background-color: #fff;
        font-size: 14px;
    }
    .container-gallery .post-desc .thumbnail {
        width: 50px;
        height: 50px;
        display: inline-block;
        float: left;
        margin-left: -5px;
        margin-right: 5px;
    }
    .container-gallery .post-desc .thumbnail img {
        max-width: 100%;
        max-width: 100%;
    }
    .container-gallery .post-desc .title {
        overflow: hidden;
        max-height: 20px;
        display: block;
        font-size: 11px;
    }
    .container-gallery .post-desc .username {
        overflow: hidden;
        max-height: 20px;
        display: block;
        font-weight: bold;
        font-size: 17px;
    }
    .container-gallery .post-desc a {
        font-size: 10px;
    }

    a.tappable-active {
        color: #fff;
        background-color: #4286f5;
    }
    .ajaxloading {
    	background: transparent url(images/loading.gif) no-repeat center 10%;
    	background-position-x: center;
    	background-position-y: 10%;
    	text-align: center;
    	padding-left: initial;
    	padding-right: initial;
    	font: bold 14px Georgia, Verdana, Arial, Helvetica, sans-serif;
    	color: #777;

        width: 100%;
        height: 100%;
        min-height: 200px;
        padding-top: 100px;
    }

    /*Page Transitions*/
    .page {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transform:translate(-50%, -50%);
    }
     
    .stage-center {
        top: 0;
        left: 0;
    }
     
    .stage-left {
        left: -100%;
    }
     
    .stage-right {
        left: 100%;
    }
     
    .transition {
        -moz-transition-duration: .375s;
        -webkit-transition-duration: .375s;
        -o-transition-duration: .375s;
    }
    .userProfileInBar {
        background: transparent url(images/bgUserProfile.jpg) no-repeat center center;
        height: 75px;
        display: none;
    }
    .userProfileInBar .thumbnail {
        width: 52px;
        height: 52px;
        float: left;
        margin: 10px;
        padding: 2px;
    }
    .userProfileInBar .infoData {
        color: white;
        padding-top: 25px;
    }
    .userProfileInBar .infoData .title {
        font-size: 13px;
        line-height: 15px;
    }
    .userProfileInBar .infoData .small {
        font-size: 10px;
    }
    .shareIcon {
        background: transparent url(images/share.png) no-repeat center center;
        padding: 10px;
        background-size: 20px;
        position: relative;
        top: 1px;
        display: inline-block;
    }
    .shareIcon1 {
        background: transparent url(images/share1.png) no-repeat center center;
        padding: 10px;
        background-size: 20px;
        position: relative;
        top: 1px;
        display: inline-block;
    }
    .showMore {
        text-align: center;
        padding: 20px;
        font-size: 1.5em;
        cursor: pointer;
    }
    .showMore a,.showMore a:hover {
        text-decoration: none;
    }
    .showMoreUserPhotos {
        clear: both;
    }
    .overlay {
        background: #333;
        color: #333;
        position: fixed;
        top: -100%;
        /*bottom: 0px;*/
        /*left: 0px;
        right: 0px;*/
        width:100%;height: 100%;
        left:0px;right:0px;
        z-index: 9000;
        padding: 5px;
        /*display: none;*/
        overflow: auto;
    }
    .overlay .mapContainer {
        height: 40%;
        background: #CCC;
    }
    .photoViewer .photoViewerComponent img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .photoViewer .photoViewerToolbar {
        width: 90%;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .photoViewer .photoViewerToolbar th {
        background-color: #23B498;
        padding: 4px;
        text-align: center;
        border: 2px solid #FFF;
        border-right-width: 1px;
    }
    .photoViewer .photoViewerToolbar th:last-child {
        border-right-width: 2px;
    }
    .photoViewer .photoViewerToolbar .glyphicon {
        color: white;
        font-size: 18px;
    }
    .photoViewer .photoViewerToolbar .counts {
        /*float: right;
        margin-top: -10px;
        */
        color: #F9F9F9;

        display: inline-block;
        float: right;
        font-size: 12px;
        margin-left: 5px;
    }
    .photoViewer .photoViewerToolbar .counts:before {
        content: "(";
    }
    .photoViewer .photoViewerToolbar .counts:after {
        content: ")";
    }
    .photoViewer .photoDescs {
        font-family: 'Open Sans',sans-serif;
        font-size: 10px;
        height:61px;
        overflow: hidden;
        margin-bottom: 3px;
        color: #F9F9F9;
    }
    .photoViewer .photoDescs .thumbnail {
        width: 55px;
        height: 55px;
        float: left;
        margin-right: 6px;
    }
    .photoViewer .photoDescs .username {
        font-size: 16px;
        font-weight: bold;
        /*margin-right: 120px;*/
        height: 23px;
        overflow: hidden;
    }
    .photoViewer .photoDescs .title {
        
    }
    .photoViewer .post-option {
        margin-bottom: 10px;
    }

    .photoViewer .post-option .list-options {
        width: 100%;
        display: table;
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;

        /*max-width: 120px;*/
        float: right;
        /*margin-top: -59px;*/
        z-index: 2300;
    }

    .photoViewer .post-option .list-options>li {
        display: table-cell;
        width: 25%;
    }

    .photoViewer .post-option .list-options>li>a {
        display: block;
        text-align: center;
        font-size: 11px;
        line-height: 26px;
        color: #FFF;
        text-transform: capitalize;
        padding: 9px 10px 11px 10px;
    }
    .photoViewer .post-option .btn-group {
        border-right: 1px solid #FFF;
    }
    .photoViewer .post-option .btn-group>div {
        height: 47px;
        margin-bottom: 0px;
    }
    .photoViewer .post-option .btn-group a {
        text-align: center;
        font-size: 11px;
        color: #FFF;
        text-transform: capitalize;
        line-height: 32px;
    }
    .photoViewer .post-option .list-options>li>a span {
        display: block;
        padding: 3px 0;
        text-align: center;
        font-size: 9px;
        line-height: 9px;
        font-weight: 400;
        display: none;
        text-transform: capitalize;
    }
    .photoViewer .post-option .btn-group a span {
        display: block;
        text-align: center;
        font-size: 9px;
        line-height: 9px;
        font-weight: 400;
        display: none;
        text-transform: capitalize;
    }
    .photoViewer .post-option .list-options span.counts,
        .photoViewer .post-option .btn-group a span.counts {
        display: inline-block;
        /*float: right;*/
        font-size: 10px;
        margin-left: 5px;
        margin-top: 6px;
    }
    .photoViewer .post-option .list-options span.counts:before,
        .photoViewer .post-option .btn-group a span.counts:before {
        content: "(";
    }
    .photoViewer .post-option .list-options span.counts:after,
        .photoViewer .post-option .btn-group a span.counts:after {
        content: ")";
    }
    .photoViewer .post-option .btn-group span.shareText {
        display: block;
        margin-top: 3px;
        margin-bottom: -3px;
    }
    .photoViewer .post-listUsers {
        width: 95%;margin: auto;margin-top: -32px;
        display: none;
    }
    .photoViewer .post-listUsers .thumbnail {
        width: 32px;
        height: 32px;
        float: left;
        margin: 0px;
        margin-top: -4px;
        margin-left: -5px;
        margin-right: 7px;
        padding: 1px;
    }
    .photoViewer .photo {
        width: 100%;height: 100%;
    }
    .photoViewer .photo.ajaxloading {
        padding-top: 0px;
        background-position-y: 30%;
    }
    .photoViewer .footMenu span.counts {
        display: inline-block;
        font-size: 12px;
        margin-left: 5px;
    }
    .photoViewer .footMenu span.counts:before {
        content: "(";
    }
    .photoViewer .footMenu span.counts:after {
        content: ")";
    }

    .photoViewer .post-comments {
        width: 100%;
        overflow-x: hidden;
    }
    .photoViewer .post-comments .list-comments {

    }
    .photoViewer .post-comments .list-comments li {
        margin-left: 6px;
        min-height: 42px;
        display: block;
    }

    .photoViewer .txtBlock {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 70px;
        color: white;
        max-height: 110px;
        overflow: hidden;
        font-weight: normal;
    }


    #showInfoView {
        height: 35px;
        text-align: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: rgba(0,0,0,0.3);
        color: white;
        z-index: 10000;
    }
    #photoContainer {
        width: 100%;height: 100%;
        background-color: #333;
        margin-top: 0px;
    }
    #xinfoContainer {
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        top: 100%;
        background: #F9F9F9;
        overflow: auto;
    }
    #xinfoContainer .nav-tabs>li {
        width: 20%;
    }
    #xinfoContainer .nav-tabs>li a {
        text-align: center;
    }
    #xinfoInfo {
        margin-top: -7px;
        padding-bottom: 6px;
        border-bottom: 1px dotted #CCC;
    }
    #xinfoInfo h1 {
        padding-left: 6px;
    } 
    #xinfoInfo .glyphicon {
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        font-size: 20px
    }
    #xinfoInfo #commentCreator {
        margin: 8px !important;
        margin-bottom: -15px !important;
        margin-top: 18px !important;
    }
    /*.photoItem {display: none;}*/


    /*-----------------------------------------------------------------------------------*/
    /*  BUTTON
    /*-----------------------------------------------------------------------------------*/
    .btn,
    .btn-group > .btn,
    .parallax .btn {
        color: #fff;
        background: #1abb9c;
        margin-bottom: 10px;
        margin-right: 5px;
        padding: 9px 20px 11px 20px;
        font-weight: normal;
        font-size: 13px;
        text-shadow: none;
        border: none;
        text-transform: uppercase;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        /*
         -webkit-box-shadow: inset 0 -4px 0 rgba(0,0,0,0.15);
        -moz-box-shadow: inset 0 -4px 0 rgba(0,0,0,0.15);
        box-shadow: inset 0 -4px 0 rgba(0,0,0,0.15);
        */
    }
    .btn-large {
        padding: 12px 23px 13px 23px
    }
    .btn.btn-green {
        background: #1abb9c
    }
    .btn.btn-blue {
        background: #3f8dbf
    }
    .btn.btn-red {
        background: #e8554e
    }
    .btn.btn-orange {
        background: #e67e22
    }
    .btn.btn-purple {
        background: #9b59b6
    }
    .btn.btn-pink {
        background: #d487be
    }
    .btn.btn-navy {
        background: #34495e
    }
    .btn.btn-gray {
        background: #95a5a6
    }
    .btn.plainbtn {
        padding: 4px 10px;
        font-size: 10px;
        box-shadow: inset 0 -0px 0 rgba(0,0,0,0.15);
    }
    .btn:hover,
    .btn:focus,
    .btn:active,
    .btn.active {
        background: #17a78b;
        color: #fff;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        /*
         -webkit-box-shadow: inset 0 -4px 0 rgba(0,0,0,0.15);
        -moz-box-shadow: inset 0 -4px 0 rgba(0,0,0,0.15);
        box-shadow: inset 0 -4px 0 rgba(0,0,0,0.15);
        */
    }
    .btn-green:hover,
    .btn-green:focus,
    .btn-green:active,
    .btn-green.active {
        background: #17a78b !important
    }
    .btn-blue:hover,
    .btn-blue:focus,
    .btn-blue:active,
    .btn-blue.active {
        background: #387eaa !important
    }
    .btn-red:hover,
    .btn-red:focus,
    .btn-red:active,
    .btn-red.active {
        background: #cf4c45 !important
    }
    .btn-orange:hover,
    .btn-orange:focus,
    .btn-orange:active,
    .btn-orange.active {
        background: #cd701e !important
    }
    .btn-purple:hover,
    .btn-purple:focus,
    .btn-purple:active,
    .btn-purple.active {
        background: #8a4fa2 !important
    }
    .btn-pink:hover,
    .btn-pink:focus,
    .btn-pink:active,
    .btn-pink.active {
        background: #bd78a9 !important
    }
    .btn-navy:hover,
    .btn-navy:focus,
    .btn-navy:active,
    .btn-navy.active {
        background: #2c3e50 !important
    }
    .btn-gray:hover,
    .btn-gray:focus,
    .btn-gray:active,
    .btn-gray.active {
        background: #859394 !important
    }


    /*Commentbox */
    .titleBox {
        background-color:#fdfdfd;
        padding:10px;
    }
    .titleBox label{
      color:#444;
      margin:0;
      display:inline-block;
    }

    .commentList {
        padding:0;
        list-style:none;
    }
    .commentList li {
        margin:0;
        margin-top:10px;
        margin-left: 10px;
    }
    .commentList li > div {
        display:table-cell;
    }
    .commentList li strong {
        font-size: 14px;
        color: #333;
        margin-right: 5px;
    }
    .commentList li.showMoreComments {
        text-align: center;
    }
    .commentList h5 {
        text-align: center;
        margin-top: 20px
    }
    .commenterImage {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        float: left;
    }
    .commenterImage img {
        width:100%;
        /*border-radius:50%;*/
    }
    .commentText p {
        margin:0;
        font-size: 12px;
    }

    .sub-text {
        color:#aaa;
        font-size:11px;
    }
    .commentContainer {
        border-top:1px dotted #bbb;
    }
    .createComment {
        font-size: 2em;
    }

    .commentContainer .form-group:first-child, .commentContainer .form-group:first-child {
        width: 78%;
        float: left;
        display: inline-table;
    }
    .commentContainer .form-group:nth-child(2), .commentContainer .form-group:nth-child(2) {
        width:18%;
        float: right;
        display: inline-table;
    }
    .commentContainer .form-group * {
        width:100%;
    }

    .commentContainer .form-group button {
        padding: 9px 20px 6px 20px
    }


    .msgbox.clr_pink {
        text-align: center;
        padding: 13px;
        padding-top: 14px;
        /* margin-left: -15px; */
        /* margin-right: -15px; */
        border: 1px solid #eeb7ba;
        background-color: #fae2e2;
        background-image: url(../../../services/?scmd=gensvg&from=fae2e2&to=f2cacb);
        background-image: -o-linear-gradient(top, #fae2e2, #f2cacb);
        background-image: -ms-linear-gradient(top, #fae2e2, #f2cacb);
        background-image: -moz-linear-gradient(top, #fae2e2, #f2cacb);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fae2e2), to(#f2cacb));
        background-image: -webkit-linear-gradient(top, #fae2e2, #f2cacb);
        background-image: linear-gradient(top, #fae2e2, #f2cacb);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae2e2', endColorstr='#f2cacb');
        color: #be4741;
        text-shadow: 0 1px 1px #fff;
    }
    .msgbox.clr_green {
        text-align: center;
        padding: 13px;
        padding-top: 14px;
        /* margin-left: -15px; */
        /* margin-right: -15px; */
        border: 1px solid #b8c97b;
        background-color: #e5edc4;
        background-image: -o-linear-gradient(top,  #e5edc4,  #d9e4ac);
        background-image: -ms-linear-gradient(top,  #e5edc4,  #d9e4ac);
        background-image: -moz-linear-gradient(top,  #e5edc4,  #d9e4ac);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
        background-image: -webkit-linear-gradient(top,  #e5edc4,  #d9e4ac);
        background-image: linear-gradient(top,  #e5edc4,  #d9e4ac);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
        color: #3f7227;
        text-shadow: 0 1px 1px #fff;
    }

    .profilebox, .photobox {
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 0 0 1px rgba(0,0,0,0.03), 0 1px 4px rgba(0,0,0,0.16);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 0 0 1px rgba(0,0,0,0.03), 0 1px 4px rgba(0,0,0,0.16);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 0 0 1px rgba(0,0,0,0.03), 0 1px 4px rgba(0,0,0,0.16);
        margin-bottom: 9px;
        padding-bottom: 6px;
    }
    .profilebox .avatarBox {
        width: 90px;
        height: 90px;
        padding: 7px;
        margin: 0;
        margin-left: 3px;
        border: 1px solid #ddd;
        border-width: 0 1px 1px 0;
        float:left;
    }
    .profilebox .avatarBox img {
        width:100% !important;height:100% !important;
    }
    .profilebox .userStats {
        padding-left: 92px;
        height: 90px;
        color: #999;
        font-weight: bold;
        text-align: center;
        line-height: 15px;
        font-size: 12px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
        border: 1px solid #DDD;
    }
    .profilebox .userStats th {
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        width: 33.33333%;
        margin: 0 0 0 -1px;
        padding: 7px 0 6px;
        text-align: center;
    }
    .profilebox .userStats th:first-child {
        border-left: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .profilebox .userStats th citie {
        color: #333;
        font-size: 16px;
        text-align: center;
        display: block;
    }
    .profilebox .userStats .btn.fullLength {
        width: 96%;
        margin: 5px;
        padding: 5px 10px 5px 10px;
    }
    .profilebox .userInfo {
        padding: 8px 10px;
        margin: 0;
    }
    .profilebox .userInfo h3 {
        margin: 2px;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: bold;
        float: left;
    }
    .profilebox .userInfo h5 {
        margin: 2px;
        font-size: 16px;
        font-size: 1.6rem;
        float: left;
    }
    .usergallery .col-xs-6 {
        padding: 5px;
    }
    .usergallery .thumbnail {
        padding: 5px;
        margin-bottom: 0px;
        overflow: hidden;
        
        max-height: 120px;
    }
    .usergallery .thumbnail.max {
        max-height: none;
    }
    .usergallery .thumbnail img {
        max-width:100%;
        max-height:100%;
    }

    .searchBox {
        border: 0px;
        /* border-bottom: 1px solid #AAA; */
        border-radius: 0px;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 5px;
        margin-bottom: 7px;
    }
    #searchField {
        background: #FFF url(images/search.png) no-repeat right center;
        width: 100%;
        border: 2px solid #CCC;
        border-radius: 30px;
        background-position-x: 10px;
        padding: 2px;padding-left: 33px;
        margin: auto;
        color: #AAA;
        font-size: 15px;
     /*   -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.75);*/
    }
    .searchBox .form-control {
        border:0px;
    }
    .searchGallery {
        margin-top: 10px;
    }

    #aboutbox .logo {
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
    }
    #aboutbox tr th {
        width: 45%;
        line-height: 28px;
    }
    #aboutbox .info tr th:after {
        content: ':';
    }
    #aboutbox .supportIcons th {
        width: 10%;
    }
    #aboutbox .supportIcons td {
        line-height: 35px;
    }

    #notificationsbox .list-group-item {
        font-size: 12px;
        padding-left: 25px;
    }
    #notificationsbox .notificationIcon {
        margin-left: -20px;
        margin-right: 5px;
        color: #1D87E5;
        font-size: 15px;
        float: left;
    }
    #notificationsbox .list-group-item>.badge {
        float: right;
        font-size: 8px;
        padding: 5px 5px 3px 5px;
        background-color: #23B498;
    }

    .photoItem .reportSpam,
        .photoItem .editPhoto {
        float: right;
        -webkit-appearance: button;
        cursor: pointer;
        display: inline-block;
        position: relative;
        height: 32px;
        margin: 0;
        margin-top: -23px;
        padding: 5px 10px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        background-color: #fcfcfc;
        background-image: -webkit-linear-gradient(rgba(255,255,255,0),rgba(235,235,235,.3) 60%,rgba(225,225,225,.6));
        background-image: linear-gradient(rgba(255,255,255,0),rgba(235,235,235,.3) 60%,rgba(225,225,225,.6));
        cursor: pointer;
        overflow: hidden;
        font-size: 14px;
        line-height: 20px;
        white-space: nowrap;
        font-weight: bold;
        text-align: center;
        vertical-align: baseline;
        box-shadow: 0 1px 2px rgba(0,0,0,.02),inset 0 1px 0 rgba(255,255,255,.7),inset -1px 0 0 rgba(255,255,255,.7),inset 0 -1px 0 rgba(255,255,255,.5),inset 1px 0 0 rgba(255,255,255,.7);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-weight: bold;
    }


    .activeTap {
        background-color: #1D87E5 !important;
    }

    #photoViewer .locateButton,
        #photoViewer .photoButton {
        color: white;
        font-size: 2em;
        position: absolute;
        top: 15px;
        right: 15px;
        border: 2px solid #AAA;
        padding: 5px;
        padding-top: 6px;
        background-image: -webkit-linear-gradient(rgba(255,255,255,0),rgba(235,235,235,.3) 60%,rgba(225,225,225,.6));
        background-image: linear-gradient(rgba(255,255,255,0),rgba(235,235,235,.3) 60%,rgba(225,225,225,.6));
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        font-weight: bold;
        text-align: center;
        vertical-align: baseline;
        box-shadow: 0 1px 2px rgba(0,0,0,.02),inset 0 1px 0 rgba(255,255,255,.7),inset -1px 0 0 rgba(255,255,255,.7),inset 0 -1px 0 rgba(255,255,255,.5),inset 1px 0 0 rgba(255,255,255,.7);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
    #photoViewer .photoButton {
        color: #666;
        font-size: 2.5em;
        border: 2px solid #666;
        padding: 7px;
        padding-top: 8px;
        top: 10px;
        right: 10px;
    }
    #photoViewer .backButton {
        color: white;
        font-size: 2em;
        position: absolute;
        top: 15px;
        left: 0px;
        padding: 5px;
        padding-top: 6px;
        cursor: pointer;
    }
    /*Photo Upload Form*/
    .uploaderTable {

    }
    .uploaderTable th {
        text-align: center;
        padding: 50px;
    }
    .uploaderTable th .glyphicon {
        font-size: 3em;
        display: block;
    }

    .photoform .form-control {
        margin: 10px;
        margin-left: 0px;
    }


    .photoform .tagBox {
        margin-left: 10px;
        overflow: auto;
        width: 100%;
        height: auto;
        padding: 1px;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .photoform .taglabel {
        float: left;
        line-height: 35px;
        background: white;
        width: 12%;
        border: 0px;
        color: #AAA;
        font-weight: normal;
        margin: 0px;
    }
    .photoform .tagit.ui-widget.ui-widget-content {
        margin: 0px;
        background: white;
        
        width: 88%;
        float: right;
        border: 0px;
    }
    .photoform .tagit-new .ui-widget-content {
        background: white;
    }

    .photoform .audioBox {
        width: 100%;
        height: 40px;
    }
    .photoform #upload-audio {
        width: 92%;
        float:left;
        margin-right: 5px;
    }
    .photoform .audioBox .playBtn {
        color: #1D87E5;
        display: block;
        cursor: pointer;
        float: left;
        margin-top: 15px;
    }



    #photoViewer .photoItem {display: none;}

    .home-view .searchBox {
        margin-bottom: 7px;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 45px;
        height: 41px;
        z-index: 10;
        padding-top: 6px;
        background: white;
    }
    .home-view .searchBox > a#searchField {
        line-height: 26px;
    }
    .home-view .container-gallery {
        padding-top: 5px;
    }
    .home-view .container-gallery.with-search {
        padding-top: 50px;
    }



    .footicon {
        background: transparent url(images/foot.png) no-repeat right center;
        width: 16px;
        height: 16px;
        background-size: 13px;
    }
}

@media (min-width: 768px) {
    .navbar-header {
      float: none;
    }
}
