<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        id          = "com.smartinfologiks.app1"
        versionCode = "00001"
        version     = "0.0.1">
 
    <name>Dummy App</name>
    
    <description>
        This is simple boilerplate mobile app.
    </description>
 
    <author href="http://smartinfologiks.com/" email="admin@smartinfologiks.com">
        OpenLogiks Team
    </author>
	
    <icon src='/icon.png' width="100" height="100" />
    
    <icon src='/media/logos/logox30.png' width="30" height="30" />
    <icon src='/media/logos/logox57.png' width="57" height="57" />
    <icon src='/media/logos/logox60.png' width="60" height="60" />
    <icon src='/media/logos/logox72.png' width="72" height="72" />
    <icon src='/media/logos/logox76.png' width="76" height="76" />
    <icon src='/media/logos/logox100.png' width="100" height="100" />
    <icon src='/media/logos/logox114.png' width="114" height="114" />
    <icon src='/media/logos/logox120.png' width="120" height="120" />
    <icon src='/media/logos/logox152.png' width="152" height="152" />
    <icon src='/media/logos/logox160.png' width="160" height="160" />
    <icon src='/media/logos/logox250.png' width="250" height="250" />

    <preference name="SplashScreen" value="media/splash/screen1.png" />
    <preference name="SplashScreenDelay" value="10000"/>
    
    <preference name="KeepRunning" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="ShowTitle" value="false" />
    
    <preference name="LogLevel" value="VERBOSE"/>
    
    <preference name="EnableViewportScale" value="false"/>
    <preference name="BackupWebStorage" value="local"/>
    <preference name="TopActivityIndicator" value="white"/>
    <preference name="AndroidLaunchMode" value="singleTask" />

    <!-- <preference name="target-device" value="universal" /> -->
    <preference name="target-device" value="handset" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />

    <!-- <preference name="permissions" value="none"/> -->

    <!-- to enable individual permissions use the following examples -->
    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <!-- <content src="index.html" /> -->
    <access origin="*" />

    <!-- Core plugins -->
    <gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
    <gap:plugin name="org.apache.cordova.media" version="0.2.13" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />


    <!-- Third party plugins -->
    <gap:plugin name="wellbload.cordova.appversion" version="0.1.4" />

    <!-- <gap:plugin name="com.phonegap.plugins.pushplugin" /> -->
    <!-- <gap:plugin name="uk.co.whiteoctober.cordova.appversion" /> -->

    <!-- <gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.7.5" /> -->

    <!--<gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.5.0" /> -->

    <!-- <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8" /> -->
    
    <!-- <gap:plugin name="com.danielcwilson.plugins.googleanalytics" version="0.6.1" /> -->

    <!-- <gap:plugin name="com.google.playservices" /> -->
    <!-- <gap:plugin name="com.tapstream.phonegap" version="1.0.4" /> -->

</widget>
