html,
body {
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	margin: 0;
	padding-bottom: 50px;
	overflow-y: auto;
	overflow-x: hidden !important;
}
/***************HEADER***********************/

#header {
	height: 50px;
	line-height: 50px;
	width: 100%;
	z-index: 5000;
	padding: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

#header .navbar {
	height: 50px !important;
}

#header .navbar:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	top: 54px;
	left: 0;
	right: 0;
	bottom: 0;
	/*border-bottom: 4px solid #f2db00;*/
}
/**********FOOTER**************/

#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border: 0px;
	z-index: 5000;
}

#footer>.nav {
	padding-top: 2px;
	border: 0px;
}

#footer>.nav>li {
	float: left;
	text-align: center;
	width: 49%;
}

#footer>.pills2>li {
	width: 49%;
	width: calc(50% - 1px);
}

#footer>.pills3>li {
	width: 32%;
	width: calc(33% - 1px);
}

#footer>.pills4>li {
	width: 24%;
	width: calc(25% - 2px);
}

#footer>.pills5>li {
	width: 19%;
	width: calc(20% - 2px);
}
/**********PopoverIcon**************/

#popupoverIcon {
	position: fixed;
	right: 25px;
	bottom: 75px;
	top: auto;
	z-index: 8900;
	left: auto;
}

#popupoverIcon>.actionIcon,
#popupoverIcon>.pageLink {
	padding: 10px;
	padding-left: 11px;
	font-size: 25px;
	background-color: #15c649;
	border: 3px solid #666;
	border-radius: 50px;
	color: white;
	margin-top: 5px;
	border-radius: 100px !important;
}

#popupoverIcon>.actionIcon:not(:first-child),
#popupoverIcon>.pageLink:not(:first-child) {
	display: none;
}

#popupoverIcon>.actionIcon:last-child,
#popupoverIcon>.pageLink:last-child {	
	background-color: #1D87E5;
}
/************MENU SIDEBAR********************/
/*************MAIN Container*****************/

#mainContainer {
	padding: 0px;
	padding-top: 51px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
/*************LOADER**************************/

.appLoader,
.ajaxloading {
	width: 100%;
	height: 100%;
	background: url(../media/splash/apploader.gif) no-repeat center center;
	text-align: center;
	background-size: 150px;
}

.appLoaderSpinner {
	position: relative;
	top: 0px;
	left: 40%;
	left: calc(50% - 30px);
	transform: translate(-50%, -50%);
}

.appLoaderContainer {
	text-align: center;
}

.appLoaderContainer>.appLoaderSpinner {
	left: auto;
	margin-top: 20px;
	padding-top: 20px;
}

.appLoaderContainerPage {
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.appLoaderContainerPage>.ajaxloading {
	text-align: center;
	width: 100%;
	height: 100%;
	background-position: center 25%;
}