#header .navbar {
	background: #333;
}

#footer>.nav {
	background: #333;
	color: white;
}
#footer>.pills2>li>a {
	color:white;
}

.appLoaderSpinner {
	color: #1D87E5;
}

/***********MISC***************/
.red_star {
	color:red;
	margin-left:5px;
}
.dark-green {
	background-color: #5cb85c;
	color: #fff !important;
	padding: 2px 3px !important;
}
.counts {
	padding: 0px 0;
}

.counts span {
	font-size: 14px;
	font-weight: 400;
	color: #1ABC9C;
}